@import './reset.css';
@import './palette.css';
@import './typography.css';

* {
	box-sizing: border-box;
}

body {
	background: var(--neutral-background);
}

.container {
	margin: auto;
	width: 83%;
}

header {
	margin: 8.4rem auto 0;
	text-align: center;
}

header p {
	margin-top: 1.6rem;
}

.deck {
	display: grid;
	gap: 2.5rem;
	margin: 7.5rem 0 8rem;
}

.card {
	background: #fff;
	border-radius: 1rem;
	box-shadow: 0 .8rem 2rem var(--neutral-shadow);
	display: flex;
	flex-flow: column;
	height: 22rem;
	justify-content: space-between;
	overflow: hidden;
	padding: 2.5rem 3rem;
	position: relative;
}

.card::before {
	content: '';
	height: .4rem;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.card.supervisor::before {
	background: var(--primary-supervisor);
}

.card.teambuilder::before {
	background: var(--primary-teambuilder);
}

.card.karma::before {
	background: var(--primary-karma);
}

.card.calculator::before {
	background: var(--primary-calculator);
}

.card .info p {
	margin-top: .3rem;
}

.card img {
	align-self: flex-end;
	width: 5.8rem;
}
