@media screen and (min-width: 1024px) {
	
	header {
		max-width: 50rem;
	}
	
	header h2, header h3 {
		font-size: 3.6rem;
	}

	.deck {
		align-content: center;
		gap: 3rem;
		grid-auto-flow: column;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.card {
		height: 25rem;
		padding: 3rem;
		margin: auto;
		max-width: 35rem;
	}

	.card.supervisor {
		grid-column: 1;
		grid-row: 1 / 3;
	}

	.card.calculator {
		grid-column: 3;
		grid-row: 1 / 3;
	}

	.card .info p {
		margin-top: .7rem;
	}

	.card img {
		width: 6.4rem;
	}

}