@media screen and (min-width: 640px) {

	.container {
		display: flex;
		flex-flow: column;
		justify-content: center;
		min-height: 100vh;
		padding: min(5%, 5rem) 0;
	}

	.hero {
		margin: 0 auto;
	}

	.hero__title, .hero__subtitle {
		font-size: 3rem;
	}

	.deck {
		grid-template-columns: 1fr 1fr;
		margin: 6rem 0 0;
	}
	
}