:root {
	--neutral-heading: #4c4e61;
	--neutral-paragraph: #a3a5ae;
	--neutral-background: #fafafa;
	--neutral-shadow: rgba(92, 153, 214, 20%);
	--primary-calculator: #549ef2;
	--primary-supervisor: #45d3d3;
	--primary-karma: #fcaf4a;
	--primary-teambuilder: #ea5353;
}